In [1]:
import pandas as pd

In [2]:
# load tabular data
# NOTE: there is one more dataset (original galaxy zoo 1) that also includes overlapping galaxy classifications, with labels spiral, elliptital, irregular...
filename_mapping = pd.read_csv('../data/raw/gz2/gz2_filename_mapping.csv', header=0) # galaxies - includes mapping definition between image filenames and (dr7)objid
hart16 = pd.read_csv('../data/raw/gz2/gz2_hart16.csv', header=0) # galaxies - includes detailed (sub)classification labels using dr7objid
zooVotes = pd.read_csv('../data/raw/skyserver_sdss/skyserver_sdss_dr16_zooVotes.csv', header=0) # galaxies - includes mapping definition between dr7objid and (dr8)objid
PhotoObj = pd.read_csv('../data/raw/skyserver_sdss/skyserver_sdss_dr16_PhotoObj.csv', header=0) # general - includes (super)classification labels and spectral intensities using (dr8)objid
specObj = pd.read_csv('../data/raw/skyserver_sdss/skyserver_sdss_dr16_specObj.csv', header=0) # general - includes (super)classification labels and photomask intensities using (dr8)bestobjid

In [3]:
# rename identifier columns for improved clarity
filename_mapping.rename(columns={'objid':'dr7objid'}, inplace=True)
PhotoObj.rename(columns={'objID':'dr8objid', 'type':'sdss_class_number'}, inplace=True)
specObj.rename(columns={'bestObjID':'dr8objid', 'class':'sdss_class_string'}, inplace=True)
zooVotes.rename(columns={'objid':'dr8objid'}, inplace=True)

In [4]:
# display data heads
display(filename_mapping.head(3))
display(hart16.head(3)) # main features: [];  main labels: [gz2_class]
display(zooVotes.head(3)) # main features: [];  main labels: [p_el, p_cw, p_acw, p_edge, p_dk, p_mg, p_cs]
display(PhotoObj.head(3)) # main features: [clean, u, g, r, i, z];  main labels: [sdss_class_number]
display(specObj.head(3)) # main features: [z, spectro...(all), elodie...(all)];  main labels: [sdss_class_string, subClass, class_noqso]

             dr7objid    sample  asset_id
0  587722981736120347  original         1
1  587722981736579107  original         2
2  587722981741363294  original         3

,dr7objid,ra,dec,rastring,decstring,sample,gz2_class,total_classifications,total_votes,t01_smooth_or_features_a01_smooth_count,...,t11_arms_number_a36_more_than_4_fraction,t11_arms_number_a36_more_than_4_weighted_fraction,t11_arms_number_a36_more_than_4_debiased,t11_arms_number_a36_more_than_4_flag,t11_arms_number_a37_cant_tell_count,t11_arms_number_a37_cant_tell_weight,t11_arms_number_a37_cant_tell_fraction,t11_arms_number_a37_cant_tell_weighted_fraction,t11_arms_number_a37_cant_tell_debiased,t11_arms_number_a37_cant_tell_flag
0,587732591714893851,179.042984,60.522518,11:56:10.32,+60:31:21.1,original,Sc+t,45,342,0,...,0.450,0.450,0.482646,0,16,16.0,0.400,0.400,0.394506,0
1,588009368545984617,135.084396,52.494240,09:00:20.26,+52:29:39.3,original,Sb+t,42,332,1,...,0.512,0.503,0.504833,0,13,13.0,0.317,0.323,0.322743,0
2,587732484359913515,183.371979,50.741508,12:13:29.27,+50:44:29.4,original,Ei,36,125,28,...,0.000,0.000,0.000000,0,0,0.0,0.000,0.000,0.000000,0

,specobjid,dr8objid,dr7objid,ra,dec,rastring,decstring,nvote_tot,nvote_std,nvote_mr1,nvote_mr2,nvote_mon,p_el,p_cw,p_acw,p_edge,p_dk,p_mg,p_cs
0,3143679467231143936,1237665530643939500,587739809419034802,227.5242,19.98669,15:10:05.80,+19:59:12.1,358,55,110,104,89,0.930,0.011,0.003,0.028,0.028,0.000,0.042
1,2427518615273105408,1237665530644070544,587739809419165838,227.8125,19.96305,15:11:14.99,+19:57:47.0,22,22,0,0,0,0.864,0.045,0.000,0.045,0.045,0.000,0.091
2,2427519165028919296,1237665530644070569,587739809419165859,227.8405,19.92028,15:11:21.71,+19:55:13.0,55,55,0,0,0,0.309,0.018,0.164,0.364,0.036,0.109,0.545

,dr8objid,sdss_class_number,clean,ra,dec,specObjID,u,g,r,i,z,nObserve,nDetect,nEdge,score
0,1237645876861272071,3,0,336.439637,-0.837205,0,23.95678,14.36237,14.04592,13.52337,26.09945,13,13,14,0.785603
1,1237645876861272078,3,0,336.439751,-0.842750,0,21.85720,25.34721,25.06110,21.30527,20.88271,19,7,4,0.785603
2,1237645876861272095,6,0,336.450133,-0.873142,0,18.93862,17.81934,17.31227,17.08184,16.93547,17,17,0,0.785603

,specObjID,dr8objid,targetObjID,instrument,ra,dec,z,sdss_class_string,subClass,class_noqso,...,spectroSynFlux_r,spectroSynFlux_i,spectroSynFlux_z,elodieObject,elodieSpType,Column1,Column2,Column3,Column4,elodieZ
0,2073963762234189824,1237664852572307491,11278379043979314,SDSS,220.02400,31.501790,0.022495,GALAXY,STARFORMING,NaN,...,227.67360,269.36710,307.8334,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2073964037112096768,1237662696492761317,11276210082349251,SDSS,220.19371,31.355068,0.085854,GALAXY,STARFORMING,NaN,...,39.39315,56.21923,67.9698,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2073964311990003712,1237662696492695605,11276210082349108,SDSS,220.15559,31.374811,0.022548,GALAXY,NaN,NaN,...,922.73410,1330.31100,1721.2110,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [5]:
# display dataframe shapes
display(filename_mapping.shape)
display(hart16.shape)
display(zooVotes.shape)
display(PhotoObj.shape)
display(specObj.shape)

(355990, 3)

(239695, 231)

(893212, 19)

(1000000, 15)

(1000000, 29)

In [6]:
# determine number of unique labels
print(len(hart16['gz2_class'].unique())) # each class is a galaxy morphology subclass
print(len(PhotoObj['sdss_class_number'].unique())) # 3=galaxy, 6=star
print(len(specObj['sdss_class_string'].unique())) # galaxy, star, qso

818
2
3

In [12]:
# evaluate the number of overlapping records in different tables

# first and second tables
merged_df = pd.merge(filename_mapping, hart16, left_on='dr7objid', right_on='dr7objid', how='inner')
print(f"Matching values: {len(merged_df['dr7objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(filename_mapping)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(hart16)) * 100}%")

# first and third tables
merged_df = pd.merge(filename_mapping, zooVotes, left_on='dr7objid', right_on='dr7objid', how='inner')
print(f"Matching values: {len(merged_df['dr7objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(filename_mapping)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(zooVotes)) * 100}%")

# second and third tables
merged_df = pd.merge(hart16, zooVotes, left_on='dr7objid', right_on='dr7objid', how='inner')
print(f"Matching values: {len(merged_df['dr7objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(hart16)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(zooVotes)) * 100}%")

# first and fourth tables

# second and fourth tables

# third and fourth tables
merged_df = pd.merge(zooVotes, PhotoObj['dr8objid'], left_on='dr8objid', right_on='dr8objid', how='inner')
print(f"Matching values: {len(merged_df['dr8objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(zooVotes)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(PhotoObj)) * 100}%")

# fourth and fifth tables
merged_df = pd.merge(PhotoObj['dr8objid'], specObj['dr8objid'], left_on='dr8objid', right_on='dr8objid', how='inner')
print(f"Matching values: {len(merged_df['dr8objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(PhotoObj)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(specObj)) * 100}%")

Matching values: 239695
Percentage of matching values in df1: 67.33194752661592%
Percentage of matching values in df2: 100.0%
Matching values: 291730
Percentage of matching values in df1: 81.9489311497514%
Percentage of matching values in df2: 32.66077929987506%
Matching values: 239695
Percentage of matching values in df1: 100.0%
Percentage of matching values in df2: 26.83517462819577%
Matching values: 0
Percentage of matching values in df1: 0.0%
Percentage of matching values in df2: 0.0%
Matching values: 0
Percentage of matching values in df1: 0.0%
Percentage of matching values in df2: 0.0%

In [26]:
# investigate some star data
display(specObj[specObj['sdss_class_string']=='STAR'].head(5))
display(PhotoObj[PhotoObj['sdss_class_number']==6].head(5))

,specObjID,dr8objid,targetObjID,instrument,ra,dec,z,sdss_class_string,subClass,class_noqso,...,spectroSynFlux_r,spectroSynFlux_i,spectroSynFlux_z,elodieObject,elodieSpType,Column1,Column2,Column3,Column4,elodieZ
4,2073964861745817600,1237662696492630192,11276210082283678,SDSS,219.97505,31.457256,-0.000053,STAR,M3,NaN,...,297.56860,886.71760,1519.86500,HD095735,M2V,M2V,M2V,M2V,M2V,-0.000067
5,2073965136623724544,1237662696492761231,11276210082414683,SDSS,220.32151,31.323515,-0.000359,STAR,M4,NaN,...,7.40656,26.80954,43.93747,HD057651,0,0,0,0,0,-0.000217
8,2073965961257445376,1237662697029566472,11276210619154512,SDSS,220.19767,31.802009,0.000169,STAR,A0,NaN,...,298.65200,330.36350,336.85420,HD338529,B5,B5,B5,B5,B5,0.000247
13,2073967610524887040,1237662713675776270,11278379044110516,SDSS,220.28757,31.483490,0.000059,STAR,M3,NaN,...,15.66230,49.94525,87.50790,HD095735,M2V,M2V,M2V,M2V,M2V,0.000057
14,2073967885402793984,0,11278379044044930,SDSS,220.13485,31.552500,-0.000108,STAR,M4,NaN,...,64.70629,225.13250,417.62040,HD095735,M2V,M2V,M2V,M2V,M2V,-0.000084

,dr8objid,sdss_class_number,clean,ra,dec,specObjID,u,g,r,i,z,nObserve,nDetect,nEdge,score
2,1237645876861272095,6,0,336.450133,-0.873142,0,18.93862,17.81934,17.31227,17.08184,16.93547,17,17,0,0.785603
4,1237645876861272098,6,0,336.469495,-0.943722,0,16.15963,14.94979,14.51731,14.34279,14.27920,22,21,1,0.785603
5,1237645876861272101,6,0,336.483832,-0.920302,0,16.11019,14.70592,14.16621,13.91938,13.86573,17,17,0,0.785603
6,1237645876861272105,6,0,336.483812,-0.986662,0,17.22323,16.18213,15.81179,15.66343,15.64120,23,23,0,0.785603
7,1237645876861272106,6,0,336.484393,-0.986028,0,24.63491,21.19975,20.44765,19.30469,18.56177,23,15,0,0.785603